

.main {
    background-color: #181616;
}

.calc{
    margin: 50px auto;
    width: 300px;
    height: 500px;
    border: 2px solid#685454;
    border-radius: 20px;
    background: #000;
    color:#fff;
    font-family: Arial;
    padding:18px;
    box-shadow: 4px 4px 4px #4f4f4f;
}

.buttons{
    display: grid;
    grid-template-areas:
    "ac plus-minus percent division"
    "seven eight nine multiplay"
    "four five six minus"
    "one two three plus"
    "zero zero dot eaqual";
    grid-gap:7px;
    justify-items: center;
}

.btn{
    height: 60px;
    width: 60px;
    background: #333;
    border-radius: 50%;
    text-align:center;
    line-height: 60px;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
}

.bt:hover{
    filter: brightness(120%);

}

.btn:active{
    filter: brightness(90%);
}

.btn.bg-grey{
    background-color: grey;
}

.btn.bg-orange{
    background-color: orange;
}

.btn.zero{
    grid-area: zero;
    width:100%;
    border-radius: 34px;
}

.calc-screen{
    height: 125px;
    padding: 10px;
    display: grid;
    justify-items: end;
    align-items: end;
    margin-bottom: 20px;
}

.calc-screen p {
    text-align: left;
    font-size: 4rem;
    margin: 0;
}

